body {background-color:;}
.container{background-color:white;padding:50px;   }
#title{font-family: 'Lobster', cursive;;}

.col-centered{
  float: none;
  margin: 0 auto;
  }


.btn, input {
  margin-left: 10px;
}

