body {background-color:;}
.container-fluid {padding:50px;}
.container{background-color:white;padding:50px;   }
#title{font-family: 'Lobster', cursive;;}

.col-centered{
  float: none;
  margin: 0 auto;
  }