* {
    text-align: center;
  }

  h1 {
    padding-top: 3%;
  }
  
  .day_button button {
      -moz-box-shadow:inset 0px 5px 23px 0px #ffffff;
      -webkit-box-shadow:inset 0px 5px 23px 0px #ffffff;
      box-shadow:inset 0px 5px 23px 0px #ffffff;
      background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
      background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
      background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
      background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
      background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
      background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
      background-color:#ffffff;
      -moz-border-radius:6px;
      -webkit-border-radius:6px;
      border-radius:6px;
      border:1.5px solid rgb(34, 192, 82); 
      display:inline-block;
      cursor:pointer;
      color:#666666;
      font-family:Arial;
      font-size:11px;
      font-weight:bold;
      padding:6px 24px;
      text-decoration:none;
  }
  
  
    html, body {
      height: 100%;
    }
    body {
      margin: 0;
      background-image: url(https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png);
      background-size: cover;
      background-position: center center;
      background-blend-mode: color;   
      background-attachment: fixed;
    }
    
    /* https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png */